/* Skills Section */
.skills {
    padding: 50px 10vw; /* Adjusted padding for better responsiveness */
    background: linear-gradient(11deg, rgb(241, 243, 243) 0%, rgba(226, 224, 224, 0.88) 99%);
}

.skills h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #646363;
    position: relative;
    margin-bottom: 20px;
}

.skills h1::after {
    content: '';
    width: 185px;
    height: 3px;
    background: #6e8ab5;
    position: absolute;
    bottom: -10px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.skill__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    margin-top: 40px;
    gap: 20px; /* Uniform gap between items */
}

.skill__item {
    flex: 1 1 250px; /* Ensures each item takes equal space and wraps if screen is smaller */
    margin: 20px;
    text-align: center; /* Centers content within each skill item */
}

@media (max-width: 768px) {
    .skills {
        padding: 50px 5vw;
    }

    .skill__items {
        flex-direction: column;
        align-items: center;
    }
}
